
.custom-carousel{
    height: 400px;
    overflow: hidden;
    position: relative;
    isolation: isolate;
}
.custrom-carousel-inner{
    height: 100%;
    margin: 0 0px;
    overflow: hidden;
    position: relative;
}

/*.custrom-carousel-inner:before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    margin-top: -100px;*/
/*    height: 160%;*/
/*    box-shadow: inset 0 0 30px 40px white;*/
/*}*/

.custrom-carousel-content{
    height: 100%;
    margin: 0 30px;
    display: inline-flex;
    align-items: center;
    justify-content: stretch;
    transition: transform 400ms ease;
    transform: translateX(0);
}
.carousel-buttons{
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.carousel-buttons button img{
    border-radius: 60px;
    box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.33)!important;
}
.carousel-buttons button, .carousel-buttons a{
    pointer-events: all;
    background-color: unset;
    border: none;
    outline: none;
    height: 100%;
    width: 60px;
}
.carousel-buttons button:disabled img{
    opacity: 0.2;
}
.carousel-item{
    height: 100%;
    width: 300px;
    flex: 1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ar .custrom-carousel-content,.ar .carousel-buttons{
    flex-direction: row-reverse;
}
.ar .carousel-buttons img{
    transform: rotate(180deg);
}
.ar .custom-carousel  .carousel-buttons{
    transform: scaleX(-1);
}
.ar .custom-carousel{
    transform: scaleX(-1);
}
.ar .custom-carousel .carousel-item{
    transform: scaleX(-1);
}
@media (max-width: 600px) {
    .custom-carousel .carousel-buttons img{
        transform: scale(0.75);
    }
    .ar .carousel-buttons img{
        transform: scale(0.75) rotate(180deg);
    }
    .carousel-item{
        height: 100%;
        width: calc(100vw - 160px);
    }
}
