
/* chargement de polices */

/* Noto Sens */

@font-face {
  font-family: NotoSans-Regular;
  src: url(../fonts/NotoSans-Regular.ttf);
}

@font-face {
  font-family: NotoSans-Bold;
  src: url(../fonts/NotoSans-Bold.ttf);
}

/* chargement de polices */

.recharge .header .logo-section .logo-directive {
	border:none;
    padding: 0px 20px;
}
.recharge .header{
	background: #171717;
    padding: 3px 0 0 0;
}
.recharge .header .accessibilities .help, .header .accessibilities .lang, .header .accessibilities .phone{
    width: 50px;
    height: 50px;
    background: #fff;
    line-height: 50px;
}


.recharge .header .accessibilities .lang a {
    font-size: 20px;
}

.recharge .header .accessibilities .help a, .header .accessibilities .lang a, .header .accessibilities .phone a {
    line-height: 50px;
}
.recharge .header .pull-left{
	    margin-top: 8px;
}
.recharge .md-my-account .section-title .description p {
    font-size: 17px;
	color:#171717 !important;
	font-family: NotoSans-Bold;
}
.recharge .md-my-account .section-title .description p .hidden-xs {
font-weight: bold
}
.recharge .md-my-account .section-title .title h1 {
    color: #171717;
    font-family: NotoSans-Bold;
}
.recharge .md-my-account, .recharge .md-forfait-internet .section-content .insta .cardInfo.fb-ajax{
    background: #f8f8f8;
}

.recharge .md-my-account .section-title{
	background:none;
}
.recharge .header .accessibilities .lang a, .recharge .md-my-account .section-title .title h1, .recharge .md-my-account .section-title .description p, .recharge .md-my-account .section-content .my-account-container .my-account-holder .holder-header h2{
	font-family: NotoSans-Bold, arial;
}

.recharge .header .accessibilities .lang a{
    font-family: arial;
    color: #171717;
    text-transform: capitalize;
    font-weight: bold;
}

.recharge .md-my-account .section-title .description p span.num{
    background: #fff;
    padding: 5px 25px;
    border-radius: 50px;
}

.recharge .md-my-account .section-content .my-account-container {
    padding: 30px 0 0;
}
.recharge .md-my-account .section-content .my-account-container .my-account-holder .holder-header h2{
	border-radius: 4px;
    padding: 6px 20px;
    color: #171717;
    box-shadow: 0px 2px 0px 0px #a6a6a6;
    font-size: 19px;
	background: rgba(247,247,247,0);
	background: -moz-linear-gradient(top, rgba(247,247,247,0) 0%, rgba(242,242,242,1) 77%, rgba(240,240,240,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,247,247,0)), color-stop(77%, rgba(242,242,242,1)), color-stop(100%, rgba(240,240,240,1)));
	background: -webkit-linear-gradient(top, rgba(247,247,247,0) 0%, rgba(242,242,242,1) 77%, rgba(240,240,240,1) 100%);
	background: -o-linear-gradient(top, rgba(247,247,247,0) 0%, rgba(242,242,242,1) 77%, rgba(240,240,240,1) 100%);
	background: -ms-linear-gradient(top, rgba(247,247,247,0) 0%, rgba(242,242,242,1) 77%, rgba(240,240,240,1) 100%);
	background: linear-gradient(to bottom, rgba(247,247,247,0) 0%, rgba(242,242,242,1) 77%, rgba(240,240,240,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f0f0f0', GradientType=0 );
}


.recharge .md-my-account .section-content .my-account-container .my-account-holder {
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.92);
    padding: 15px;
    box-shadow: 5px 5px 20px 2px #e7e8ee;
}
.recharge .md-my-account .section-content .my-account-container .my-account-holder .holder-content .holder-content-inner .credit-info a.x-credit{
	background-image: url(../images/icons/recharge-compte.svg);
}
.recharge .md-my-account .section-content .my-account-container .my-account-holder .holder-content .holder-content-inner .credit-info a.anazik-dash{
	background-image: url(../images/icons/anazik-dash.svg);
}
.recharge .md-my-account .section-content .my-account-container .my-account-holder .holder-content .holder-content-inner .credit-info a.anaflix-dash{
	background-image: url(../images/icons/anaflix-dash.svg);
}
.recharge .md-my-account .section-content .my-account-container .my-account-holder .holder-content .holder-content-inner .credit-info a.anaflix-icon{
    background-image: url(../images/icons/anaflix.svg);
}
.recharge .md-my-account .section-content .my-account-container .my-account-holder .holder-content .holder-content-inner .credit-info a.small{
	font-size: 15px;
    padding: 5px 0 5px 0px;
}
.recharge .md-my-account .section-content .my-account-container .my-account-holder .holder-content .holder-content-inner .credit-info a.x-mini{
	background-image: url(../images/icons/mini.png);
}
.recharge .md-my-account .section-content .my-account-container .my-account-holder .holder-content .holder-content-inner .credit-info a.x-hashta{
	background-image: url(../images/icons/hashta.png);
}
.recharge .md-my-account .section-content .my-account-container .my-account-holder .holder-content .holder-content-inner .credit-info a.x-illimit{
	background-image: url(../images/icons/illimit.png);
}
.recharge .md-my-account .section-content .my-account-container .my-account-holder .holder-content .holder-content-inner .credit-info a.x-t-internet{
	background-image: url(../images/icons/internet.svg);
}
.recharge .md-my-account .section-content .my-account-container .my-account-holder .holder-content .holder-content-inner .credit-info a.x-m-internet{
	background-image: url(../images/icons/internet2.svg);
}
.recharge .md-my-account .section-content .my-account-container .my-account-holder .holder-content .holder-content-inner .credit-info a.facebook{
	background-image: url(../images/icons/facebook.svg);
}
.recharge .md-my-account .section-content .my-account-container .my-account-holder .holder-content .holder-content-inner .credit-info a.x-j-internet{
	background-image: url(../images/icons/internet3.png);
}
.recharge .md-my-account .section-content .my-account-container .my-account-holder .holder-content .holder-content-inner .credit-info a.x-free-call{
	background-image: url(../images/icons/appel.svg);
}
.recharge .md-my-account .section-content .my-account-container .my-account-holder .holder-content .holder-content-inner .credit-info a.x-free-sms{
	background-image: url(../images/icons/sms-dash.svg);
}
.recharge .md-my-account .section-content .my-account-container .my-account-holder .holder-content .holder-content-inner .credit-info a.x-i-call{
	background-image: url(../images/icons/international-call.png);
}
.recharge .md-recharge-internet.roaming.x-mini-r .section-title {
background-image: linear-gradient( 135deg, #FFE985 10%, #FA742B 100%);
}
.recharge .md-recharge-internet.roaming .section-title .title h1 {
	text-transform: none;
    font-family: NotoSans-Bold, Arial;
    font-size: 32px;
    font-weight: bold;
    color: #171717;
}
.recharge .md-recharge-internet.roaming.x-mini-r .section-content {
background-image: linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%);}
.recharge .md-recharge-internet.roaming .section-content .fullWidthCard .cardInfo .btn, .recharge .md-forfait-internet .section-content .cardInfo .cardBottom .buy .action .btn{
	
	    border: 3px solid #fcdae4;
    border-radius: 25px;
    padding: 2px 20px;
    background: #ed1c24;
    color: #fff;
    box-shadow: inset 1px 1px 3px 1px #22222252;
}

.recharge .md-recharge-internet.roaming.x-music .section-content {
background: #6912ca; /* Old browsers */
background: -moz-linear-gradient(-45deg, #6912ca 0%, #2673fb 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #6912ca 0%,#2673fb 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #6912ca 0%,#2673fb 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6912ca', endColorstr='#2673fb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.recharge .md-recharge-internet.roaming.x-music .section-title {background: #592ad7;}
.recharge .md-recharge-internet.roaming.x-music .section-content .fullWidthCard .cardInfo .btn.haya-m-down, .recharge .md-recharge-internet.roaming .section-content .fullWidthCard .cardInfo .btn.retour {
    background: #2b2b2b;
}


.recharge .md-forfait-internet .section-title .title h1{
	text-transform: none;
    font-family: 'Patrick Hand', cursive;
    font-size: 32px;
    font-weight: bold;	
}
.recharge .md-forfait-internet .section-content .favor-num .cardInfo .cardTop{
	display: flex;
}
.recharge .md-forfait-internet .section-content .favor-num .cardInfo .cardTop .duration{
	    flex-grow: 5;
}
.recharge .md-forfait-internet .section-content .favor-num .cardInfo .cardTop .duration .price .price-hero .price-unit{
	
    font-size: 21px;
    line-height: 20px;
    color: #000;
}
.recharge .md-forfait-internet .section-content .favor-num .cardInfo .cardBottom .buy .action .btn{
	width: 48%;
    margin-right: 2%;
}

.recharge .md-recharge-internet.roaming .section-content .change .fullWidthCard{
background: #f5f6fa;
}

.recharge .md-recharge-internet.roaming .section-content .fullWidthCard .cardInfo h3{
	color: #ed1c24;
    font-size: 3em;
}
.recharge .md-recharge-internet.roaming.x-music .section-content .fullWidthCard .cardInfo h3{
    color: #ed1c24;
    font-size: 3.2em;
    margin-top: 10px;
    margin-bottom: 0;
}
.recharge .md-recharge-internet.roaming .section-content.transfert-hp .fullWidthCard .cardInfo p{
    border-left: 2px solid #2b9cb5;
    padding-left: 5px;
    margin-bottom: 2px;
}
.recharge .md-recharge-internet.roaming .section-content.transfert-hp .fullWidthCard .cardInfo p span.red-span{
    font-size: 1.2em;
    font-weight: bold;
    color: #ed1c24;
}
.recharge .md-recharge-internet.roaming .section-content.transfert-hp .change .fullWidthCard .cardInfo p span.title{
	font-size: 1.1em;
    font-weight: bold;

}


.recharge .md-recharge-internet.roaming .section-content{
	
background: rgba(247,212,212,1);
background: -moz-linear-gradient(-45deg, rgba(247,212,212,1) 0%, rgba(246,236,196,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(247,212,212,1)), color-stop(100%, rgba(246,236,196,1)));
background: -webkit-linear-gradient(-45deg, rgba(247,212,212,1) 0%, rgba(246,236,196,1) 100%);
background: -o-linear-gradient(-45deg, rgba(247,212,212,1) 0%, rgba(246,236,196,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(247,212,212,1) 0%, rgba(246,236,196,1) 100%);
background: linear-gradient(135deg, rgba(247,212,212,1) 0%, rgba(246,236,196,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7d4d4', endColorstr='#f6ecc4', GradientType=1 );
}

.recharge .md-recharge-internet.roaming.black .section-content{
	
background: #f8f8f8
}

.recharge .md-recharge-internet.roaming .section-title {
    background: #E79087;
}

.recharge .md-recharge-internet.roaming.black .section-title {
    background: #f8f8f8;
}

.blue-light.recharge .md-recharge-internet.roaming.black .section-content{
background: #bbdefb
}

.blue-light.recharge .md-recharge-internet.roaming.black .section-title {
    background: #6EB8F4;
}

.recharge .current i {
    color: #fff;
}
.recharge .md-forfait-internet .section-content .appels .cardInfo{
	
	background-image: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);
}
.recharge .md-forfait-internet .section-content .appels .cardInfo .cardTop .duration .price .price-hero .price-unit, .recharge .md-forfait-internet .section-content .appels .cardInfo .cardTop .duration .price .price-hero .currency,.recharge .md-forfait-internet .section-content .appels .cardInfo .cardTop .capacity .price .price-hero .price-unit,.recharge .md-forfait-internet .section-content .appels .cardInfo .cardTop .capacity .price .price-hero .currency, .recharge .md-forfait-internet .section-content .appels .cardInfo .cardBottom .buy .price-unit,.recharge .md-forfait-internet .section-content .appels .cardInfo .cardBottom .buy .currency,.recharge .md-forfait-internet .section-content .appels .cardInfo .cardBottom .price-valable .price-valable-hrs,.recharge .md-forfait-internet .section-content .appels .cardInfo .cardBottom .price-valable .price-valable-text {
	color:#fff;
}
.recharge .md-forfait-internet .section-content .appels .cardInfo .cardBottom .cost .price .price-hero .currency, .recharge .md-forfait-internet .section-content .appels .cardInfo .cardBottom .cost .price .price-hero .price-unit, .recharge .md-forfait-internet .section-content .appels .cardInfo .cardTop .capaciteMobile, .recharge .md-forfait-internet .section-content .cardInfo .cardTop .duration .fb span{
color : rgb(255,235,59);
text-shadow: -1px 0px 3px #2222227d;
}
.recharge .md-forfait-internet .section-content .cardInfo .cardTop .duration .fb span.white{
    color: white;
	font-size: 0.65em;

}
.recharge .md-forfait-internet .section-content .insta .cardInfo .cardTop .capacity .capaciteSpec{
	padding-right :10px;
	max-width : none;
	font-size : 20px !important;
}
.recharge .md-forfait-internet .section-title{text-align:center}
/******    PopUp Style   **********/

.recharge #favor-num-popup .modal-dialog .modal-content .modal-body{
	
	    background: #0F2027;
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027);
}
.recharge #favor-num-popup .modal-dialog .modal-content .modal-body .content-popup .btns-popup .btn-download .popup-inner-bloc{
	
    padding: 20px 5px;
    background: #0000000f;
    border-radius: 4px;
    font-size: 25px;	
}
.recharge #favor-num-popup .modal-dialog .modal-content .modal-body .content-popup .btns-popup .btn-download .popup-inner-bloc span{
color: #ffffff;font-size: 23px;margin-bottom: 20px;text-align: center;display: inline-block;width: 100%;
}
.recharge #favor-num-popup .modal-dialog .form-control{
	border-radius: 18px;
    max-width: 70%;
    padding: 20px 10px 20px 10px;
    margin: auto;
    display: inline-block;

}
.recharge #favor-num-popup .modal-dialog .popup-inner-bloc button{
		padding: 10px 28px 10px 28px;background-color: #ed1c24;color: white;font-size: 15px;font-weight: bolder;border-radius: 29px;display: inline-block;
}

.recharge #favor-num-popup .modal-dialog .popup-inner-bloc .phone-done label{

    font-size: 17px;
    margin: 0;
    padding: 0;
}
.recharge #favor-num-popup .modal-dialog .popup-inner-bloc .phone-done input{

    background: none;
    border: none;
    padding: 0px;
    font-size: 20px;
    vertical-align: top;
}
.recharge .md-forfait-internet .section-content .favor-num .cardInfo .cardTop .visible-xs .capaciteMobile{
	line-height: 1.1em;
    font-size: 22px;
    letter-spacing: 0;
}
.recharge .md-forfait-internet .section-content .cardInfo .cardTop .visible-xs .duration .fb span {
    color: white;
    text-shadow: -1px 0px 3px #2222227d;
}
.recharge .md-recharge-internet.roaming.internet .section-content.transfert-hp .change .fullWidthCard{
	padding-bottom:10px;
	min-height: 342px;
}
.recharge .md-recharge-internet.roaming.internet .section-content.transfert-hp .change .fullWidthCard .cardInfo{
	width:100%;
	text-align:center;
}
.recharge .md-recharge-internet.roaming.internet .section-content.transfert-hp .change .fullWidthCard .cardInfo .box-amounts{
	    min-height: 260px;
	    padding-top: 10px;
}
.recharge .md-recharge-internet.roaming.internet .section-content.transfert-hp .change .fullWidthCard .cardInfo .box-amounts div {
	
	
    display: flex;
   align-items: center;
    height: 130px;
    justify-content: space-around;

}

.recharge .md-recharge-internet.roaming.internet .section-content.transfert-hp .change .fullWidthCard .cardInfo p{
	border:none;
}
.recharge .md-recharge-internet.roaming.internet .section-content.transfert-hp .change .fullWidthCard .cardInfo p.col-xs-6{
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-top: 1px solid hsla(0, 0%, 60%, 0.15);
}
.recharge .md-recharge-internet.roaming.internet .section-content .fullWidthCard .cardInfo h3{
	margin-top:10px;
	margin-bottom:0;
}
.recharge .md-recharge-internet.roaming.internet .section-content .fullWidthCard .cardInfo h3.col-xs-6{
    margin-top: 8px;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 0;
    border-top: 1px solid hsla(0, 0%, 60%, 0.15);
}
.recharge .md-recharge-internet.roaming.internet .section-content.transfert-hp .change .fullWidthCard .cardInfo p span.title {
    font-size: 1.4em;
	    vertical-align: middle;
}
.recharge .md-recharge-internet.roaming.internet .section-content.transfert-hp .change .fullWidthCard .cardInfo p span {
    vertical-align: middle;
}
.recharge .md-recharge-internet.roaming.internet .section-content.transfert-hp .change .fullWidthCard .cardInfo p span.yt-title {
	font-size: 2.1em;
    font-weight: bold;
    color: #ed1c24;

}
.recharge .md-recharge-internet.roaming.internet .section-content.transfert-hp .change .fullWidthCard .cardInfo p span.yt-title2 {
	font-size: 1.5em;
    font-weight: bold;
    color: #ed1c24;

}
.recharge .md-recharge-internet.roaming.internet .section-content.transfert-hp .change .fullWidthCard .cardInfo a.half {
    width: 50%;
    min-width: auto;
}
.recharge .md-recharge-internet.roaming.internet .section-content.transfert-hp .change .fullWidthCard .cardInfo a.convert {
	background :#232323;
}
.recharge .md-recharge-internet.roaming.internet .section-content.transfert-hp .change .fullWidthCard .cardInfo p span.yt-title-bold {
	font-size: 2.1em;
    font-weight: bold;
    color: #ed1c24;
	font-family: NotoSans-Bold;
}
.recharge .md-recharge-internet.roaming.internet.push .section-content, .recharge .md-recharge-internet.roaming.internet.push .section-title{
background-image: linear-gradient( 135deg, #fff5c3 10%, #d492e4 100%);
}
.recharge .md-recharge-internet.roaming.internet.push .section-title h1{
color:#111
}
.recharge .md-recharge-internet.roaming.confirm.internet .section-title {
    background: #39acc5;
    padding: 10px 0;
}
.recharge .md-recharge-internet.roaming.internet.push .section-content.transfert-hp .change .fullWidthCard{

    background: #1abeea;
    background: -moz-linear-gradient(-45deg, #1abeea 0%, #f5505d 100%);
    background: -webkit-linear-gradient(-45deg, #1abeea 0%,#f5505d 100%);
    background: linear-gradient(135deg, #1abeea 0%,#f5505d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1abeea', endColorstr='#f5505d',GradientType=1 );
    background-image: linear-gradient( 135deg, #FF6FD8 10%, #3813C2 100%);

}
.recharge .md-recharge-internet.roaming.internet.push .section-content.transfert-hp .change .fullWidthCard .cardInfo p span.yt-title, .recharge .md-recharge-internet.roaming.internet.push .section-content .fullWidthCard .cardInfo p, .recharge .md-recharge-internet.roaming.internet.push .section-content .change .fullWidthCard .cardInfo h3 {
    color: #ffffff;

}
.recharge .md-recharge-internet.roaming.confirm {
    min-height: 450px;
}

.recharge .md-recharge-internet.roaming.x-hadra .section-title {
    background: #dbddde;
    padding: 10px 0;
}
.recharge .md-recharge-internet.roaming.x-hadra .section-title h1 {
	color:#222
}
.recharge .md-recharge-internet.roaming.x-hadra .section-content {
    background: #f6f7f8;
    padding: 30px 0;
}
.recharge .md-recharge-internet.roaming.x-mini-r .section-content.transfert-hp .col-lg-6, .recharge .md-recharge-internet.roaming.internet .section-content.transfert-hp .col-lg-4{
	margin-bottom: 15px;
}
.recharge .md-recharge-internet.roaming.x-mini-r .section-content.transfert-hp .pull-left.visible-xs, .recharge .md-recharge-internet.roaming.x-music .section-content.transfert-hp .pull-left.visible-xs, .recharge .md-recharge-internet.roaming.x-hadra .section-content.transfert-hp .pull-left.visible-xs, .recharge .md-recharge-internet.roaming.internet .section-content.transfert-hp .pull-left.visible-xs{
    width: 100%;
    max-height: 80px;
    display: block;
    height: 80px;
    background-position: center;
}
.recharge .md-recharge-internet.roaming .section-content.transfert-hp .fullWidthCard .cardInfo p .validity {
    font-size: 1.25em;
    font-weight: bold;
}
.recharge .box-amounts span.plus{
    display: inline-block;
    font-weight: bold;
    background: white;
    color: rgba(51, 51, 51, 0.6);
    padding: 0;
    border-radius: 20px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    margin-right: 5px;
    font-size: 11px;
}
/*********  MAX WIDTH 991px  *******/

@media (min-width: 991px){
.md-my-account .section-content .my-account-holder {
    min-height: 350px;
}
}

/*********  MAX WIDTH 767px  *******/

@media (max-width: 767px){
.recharge .md-my-account .section-content .my-account-container .my-account-holder {
    border: none;
    margin-bottom: 0;
    padding: 0;
	box-shadow : none;
}
.recharge .md-my-account .section-content .my-account-container.expandeffect .my-account-holder{
	
	border: 3px solid #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.92);
    padding: 15px;
    box-shadow: inset 1px 1px 3px 1px #2222222b;
}
.recharge .md-forfait-internet .section-content .cardInfo .cardBottom .buy .action .btn {
    width: 100%;
    font-size: 14px;
    height: 40px;
    line-height: 30px;
    padding: 4px 15px;
    margin-top: 10px;
}
.recharge .md-forfait-internet .section-content .favor-num .cardInfo .cardBottom .buy .action .btn {
    width: 100%;
    margin-right: 2%;
}
.recharge .header .logo-section .logo-directive {
    float: left;
    margin-left: 5px;
    padding: 5px 5px;
    border: none;
}
.recharge .md-recharge-internet.roaming .section-content .fullWidthCard .cardInfo .btn {
    line-height: 10px;
    padding: 16px 15px 29px 15px;
}
.recharge #favor-num-popup .modal-dialog .popup-inner-bloc button {
    width: 90%;
    margin-top: 7px;
}
.recharge #favor-num-popup .modal-dialog .form-control {
    max-width: 90%;
 }
 }
/*********  MAX WIDTH 479px  *******/

@media (max-width: 991px){
.recharge .header .logo-section .logo-directive img {
    max-width: 250px;
}

.recharge .accessibilities.mobileMenu {
display: none;background: #000428;  /* fallback for old browsers */background: -webkit-linear-gradient(to left, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */background: linear-gradient(to left, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 116px 0px 149px 3px #0000007a;
    z-index: 5;
    border-right: 1px solid #92919196;
}
.recharge .accessibilities.mobileMenu .accessibilities-menu ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 5px -3px #2222226e;
}

.recharge .md-recharge-internet.roaming.internet .section-content.transfert-hp .change{
	margin-bottom:15px;
}

}

/******** SWITCH BTN ********/

.onoffswitch {
    position: relative; width: 80px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
	margin-top: -4px;
}

@media (max-width: 479px){

.onoffswitch {

	margin-left: 15px;
}

}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #079992; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 20px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 46px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
@media (max-width: 991px){
.md-my-account .section-content .my-account-container.expandeffect .my-account-holder{
	border: 1px solid #f9f9f9;
    background: rgba(249, 249, 249, 0.6);
    border-radius: 8px;
    box-shadow: 0 3px #ccc;
    border-top: 3px solid #ed1c24;
	margin-bottom:30px	
}
.md-my-account .my-account-container .col-xs-12.visible-xs.visible-sm {
    background: #ebebeb;
}
.md-my-account .my-account-container .col-xs-12.visible-xs.visible-sm .expandTiggerContainer {
    margin: 10px auto 10px auto;
	width: 95%;
}
.expandTiggerContainer .expandTiggerText a.collapseTrigger{
	margin:0;
}
.md-my-account .section-content .my-account-container{
	-webkit-box-shadow: 0 3px 0px 0 rgba(0,0,0,.35);
    box-shadow: 0 3px 0px 0 rgba(0,0,0,.35);
}
}
.btn-bordered {
    border: none;
    color: #6e6e6e;
}
.small.renouvellement{
	border: 1px solid #00000026;padding: 6px 10px;float: right;margin-top: 5px;border-radius: 6px;
}

/***********************************************/
/************* DARK MODE STYLE *****************/
/***********************************************/

/**** DARK MODE BTN ******/

.recharge .header .accessibilities .help, .header .accessibilities .lang, .header .accessibilities .dark-btn{
	width: inherit;
    border-radius: 25px;
    padding: 0px 17px;
    height: 50px;
    background: #fff;
    line-height: 50px;
    float: left;
    margin-left: 5px;
}
.recharge .header .accessibilities .dark-btn a{
	idth: inherit;
    font-size: 15px;
    font-weight: bold;
    color: #020202;
    font-family: arial;
	width : 100%;
	display:block;
	text-decoration: none;
}

/*.dark,
.dark * {
    background-color: #222;
    color: #e6e6e6;
    border-color: #e6e6e6;
}
*/

.dark .header .accessibilities .phone, .dark .header .accessibilities .help, .dark .header .accessibilities .lang, .dark .header .accessibilities .dark-btn{
    background-color: #cfcfcf; 
    color: #222;
}

.dark.recharge .md-my-account, .dark.recharge .md-forfait-internet .section-content .insta .cardInfo.fb-ajax{
	background: #101010;
}
.dark .md-recharge-internet.roaming.black .section-content{
	background: #141414;
}
.dark.recharge .md-my-account .section-title .title h1, .dark .md-recharge-internet.roaming .section-title .title h1{
	color:#cdcdcd;
}

.dark .md-my-account .section-title .description p {
	color:#cdcdcd !important;
	
}
.dark .md-my-account .section-title .description p span.num {
    background: #202020;
    
}
.dark .md-my-account .section-content .my-account-container .my-account-holder .holder-header h2 {
    color: #dadada;
    box-shadow: 0px 2px 0px 0px #ffffff42;
    background: rgba(20,20,20,0);
    background: -moz-linear-gradient(top, rgba(20,20,20,0) 0%, rgba(20,20,20,1) 57%, rgba(20,20,20,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(20,20,20,0)), color-stop(57%, rgba(20,20,20,1)), color-stop(100%, rgba(20,20,20,1)));
    background: -webkit-linear-gradient(top, rgba(20,20,20,0) 0%, rgba(20,20,20,1) 57%, rgba(20,20,20,1) 100%);
    background: -o-linear-gradient(top, rgba(20,20,20,0) 0%, rgba(20,20,20,1) 57%, rgba(20,20,20,1) 100%);
    background: -ms-linear-gradient(top, rgba(20,20,20,0) 0%, rgba(20,20,20,1) 57%, rgba(20,20,20,1) 100%);
    background: linear-gradient(to bottom, rgba(20,20,20,0) 0%, rgba(20,20,20,1) 57%, rgba(20,20,20,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f0f0f0', GradientType=0 );
}
.dark .md-my-account .section-content .my-account-container .my-account-holder {
    
	border: 1px solid rgba(255, 255, 255, 0.25);
    background: #121212;
    box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.33);
}
.dark .md-my-account .section-content .my-account-container .my-account-holder .holder-content .holder-content-inner .credit-info a {
    color: #cdcdcd;
    font-size: 16px;
}
.dark .md-my-account .section-content .my-account-container .my-account-holder .holder-content .holder-content-inner .progressBarContainer .progressBar{
	background-color: #cdcdcd;
}
.title {
    padding: 0 20px;
}
.dark .md-recharge-internet.roaming.black .section-title {
    padding: 10px 0;
    background: #141414;
}
.dark .md-recharge-internet.roaming .section-content .change .fullWidthCard {
    background: #101010;
    border: 1px solid rgba(255, 255, 255, 0.12156862745098039);
}
.dark .md-recharge-internet.roaming .section-content .fullWidthCard .cardInfo p {
    color: #cdcdcd;
}
@media (max-width: 991px){
.dark .md-my-account .section-content .my-account-container {
	background: #101010;
}
.dark .md-my-account .my-account-container .col-xs-12.visible-xs.visible-sm {
    background: #1f1f1f;
}

.dark .md-my-account .section-content .my-account-container .my-account-holder {
     border: none
}
}

@media (max-width: 767px){
.dark .md-my-account .section-content .my-account-container.expandeffect .my-account-holder {
    border: 1px solid rgba(255, 255, 255, 0.25882352941176473);
    background: #121212;
    box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.33);
 }
}
.dark .small.renouvellement{
	border: 1px solid #ffffff26;
    background: #ffffff17;
	color: #ffffff70;
}


/***********************************************************************************************/
/************************************      New Progress bar design      *************************************/
/***********************************************************************************************/

progress {
	width: 200px;
	height: 14px;
	margin: 50px auto;
	display: block;
	/* Important Thing */
	-webkit-appearance: none;
	border: none;
}

/* All good till now. Now we'll style the background */
progress::-webkit-progress-bar {
	background: black;
	border-radius: 50px;
	padding: 2px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

/* Now the value part */
progress::-webkit-progress-value {
	border-radius: 50px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-webkit-linear-gradient(left, #ba7448, #c4672d);
	
	/* Looks great, now animating it */
	background-size: 25px 14px, 100% 100%, 100% 100%;
	-webkit-animation: move 5s linear 0 infinite;
}

/* That's it! Now let's try creating a new stripe pattern and animate it using animation and keyframes properties  */

@-webkit-keyframes move {
	0% {background-position: 0px 0px, 0 0, 0 0}
	100% {background-position: -100px 0px, 0 0, 0 0}
}


/*############################################################################################"*/
/*######################################      VERSION AR      ################################"*/
/*############################################################################################"*/

.ar.recharge .header .accessibilities .lang a, .ar.recharge .md-my-account .section-title .title h1, .ar.recharge .md-my-account .section-title .description p, .ar.recharge .md-my-account .section-content .my-account-container .my-account-holder .holder-header h2, .ar.recharge .md-recharge-internet.roaming .section-title .title h1, .ar.recharge .md-forfait-internet .section-title .title h1 {
    font-family: ooredooregular;
}

.ar.recharge .price-unit {
    direction: ltr !important;
    font-family: 'FuturaStd-Book-numbers' !important;
	font-weight:bold;
}

.ar .header .accessibilities .lang a, .ar .md-my-account .section-title .title h1{
	
}

.ar .onoffswitch-switch {
     left: 46px;
	 right:unset;
}
.ar .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    left: 0px;
	right: unset;
}

.ar .onoffswitch-inner:before {
    padding-right: 10px;
}
.ar .onoffswitch-inner:before, .ar .onoffswitch-inner:after {
    float: right;
}

.ar .onoffswitch-inner:before {
    padding-right: 10px;
}
.ar .onoffswitch-inner:after {
    padding-left: 10px;
    text-align: left;
}
.ar .onoffswitch-inner {
    margin-right: -100%;
}
.ar .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-right: 0;
}

.ar.recharge .md-my-account .section-title .description p {
	font-family: ooredoobold;
}

.ar.recharge .md-my-account .section-title .title h1 {
    font-family: ooredoobold;
}
.ar.recharge .header .accessibilities .lang a, .ar.recharge .md-my-account .section-title .title h1, .ar.recharge .md-my-account .section-title .description p, .ar.recharge .md-my-account .section-content .my-account-container .my-account-holder .holder-header h2{
	font-family: ooredoobold, arial;
}
.ar.recharge .md-recharge-internet.roaming .section-title .title h1 {
    font-family: ooredoobold, Arial;
}
.ar.recharge .md-forfait-internet .section-title .title h1{
    font-family: ooredooregular;
}
.ar.recharge .md-recharge-internet.roaming.internet .section-content.transfert-hp .change .fullWidthCard .cardInfo p span.yt-title-bold {
	font-family: ooredoobold;
}
.ar.recharge .box-amounts span.plus {
    margin-left: 5px;
}
.ar .small.renouvellement{
	float: left;
}
