@font-face {
    font-family: outfit;
    src: url(../fonts/outfit.ttf);
}

@font-face {
    font-family: outfit-bold;
    src: url(../fonts/outfit.ttf);
    font-weight: 800;
}

@font-face {
    font-family: rubik;
    src: url(../fonts/rubik.ttf);
    font-weight: 200;
}

@font-face {
    font-family: rubik-bold;
    src: url(../fonts/rubik.ttf);
    font-weight: 800;
}

:root {
    --ooredoo-red: #ed1c24;
    --color-qaada: #fee161;
}

#page, body, html {
    font-family: rubik, ooredooregular, Arial;
}

.fs-34 {
    font-size: 34px !important;
}

.fs-32 {
    font-size: 32px !important;
}

.fs-30 {
    font-size: 30px !important;
}

.fs-28 {
    font-size: 28px !important;
}

.fs-26 {
    font-size: 26px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fs-22 {
    font-size: 22px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.img-inline{
    display: inline;
    height: 1.5em;
}
.relative {
    position: relative;
    isolation: isolate;
}

.absolute {
    position: absolute;
}

.top {
    top: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.bottom {
    bottom: 0;
}

.md-my-account .section-content .my-account-container .my-account-holder .holder-content .holder-content-inner .credit .price .price-hero .price-unit,
.md-my-account .section-content .my-account-container .my-account-holder .holder-content .holder-content-inner .credit .price .price-hero .currency,
.md-my-account .section-content .my-account-container .my-account-holder .holder-content .holder-content-inner .credit-info a {
    font-family: rubik, ooredooregular, Arial;
}

.choof-logo {
    height: 48px;
}

.pl-2 {
    padding-left: 8px;
}

.pr-2 {
    padding-right: 8px;
}

.d-none {
    display: none !important;
}

/*@media (min-width: 1200px) {*/
/*    .container-special {*/
/*        width: 930px;*/
/*    }*/
/*}*/


.text-line-through {
    text-decoration: line-through;
}

.text-outfit-light {
    font-family: outfit, ooredoobold, Arial, sans-serif !important;
}

.text-outfit {
    font-family: outfit-bold, ooredoobold, Arial, sans-serif !important;
}

.border-round {
    border-radius: 1000px !important;
}

.text-bold {
    font-weight: bold;
}

.text-grey {
    color: rgba(128, 128, 128);
}

.text-center {
    text-align: center;
}

.text-ar {
    font-family: ooredoobold, Arial !important;
}

.text-rtl {
    font-family: ooredoobold, Arial !important;
    direction: rtl;
}

.text-ltr {
    direction: rtl;
}

.text-transparent {
    color: transparent !important;
    margin-left: -1em;
}

.text-fr-bold {
    font-family: outfit-bold, ooredoobold, Arial, sans-serif !important;
}

.text-fr {
    font-family: rubik, ooredoobold, Arial;, sans-serif !important;
}

/*BOOST CARD =========================================================================================================*/
.boost-card {
    flex: 1;
    border-radius: 10px;
    /* margin-bottom: 20px; */
    color: #171717;
    min-height: 218px;
    max-width: 260px;
    padding: 9px;
    overflow: hidden;
    background: var(--color-qaada);
    min-width: 162px !important;
    position: relative;
    isolation: isolate;
}

.boost-card .ooredoo-calls .to-ooredoo {
    font-weight: normal;
    font-size: 1.1em;
    font-family: rubik, ooredoobold, Arial;;
}

.boost-card .ooredoo-calls .call-count {
    font-size: 1.7em;
    font-weight: 800;
    padding: 0 4px;
    font-family: rubik-bold, ooredoobold, Arial;
    /*color: var(--ooredoo-red);*/
    /*font-family: NotoSans-Bold;*/
}

.boost-card .internet {
    font-size: 3.1em;
    font-weight: 800;
    color: var(--ooredoo-red);
    z-index: 1;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    font-family: rubik-bold, ooredoobold, Arial;
}

.boost-card .internet .gigas {
    flex: 1;
    color: #171717;
    letter-spacing: -2px;
}

/*RECHARGE CARD =========================================================================================================*/
.recharge-card {
    width: 100%;
    margin: 0 10px;
    flex: 1;
    border-radius: 18px;
    color: #171717;
    min-height: 72%;
    padding: 30px;
    padding-bottom: 0;
    padding-top: 16px;
    overflow: hidden;
    background: white;
    /*min-width: 180px!important;*/
    transform: scale(0.9);
    position: relative;
    isolation: isolate;
    border: 2px solid var(--ooredoo-red);
    box-shadow: 5px 5px 20px 2px rgba(121, 121, 121, 0.6);
}

.recharge-card.special .internet {
        font-size: 2.6em;
}
.recharge-card.special {
    overflow: unset;
    transform: scale(1);
    /*min-height: 85%;*/
    /*margin-bottom: -33px;*/
    padding-top: 30px;
    margin: 0;
    min-height: 79%;
}
.recharge-card.special h3 {
    margin-top: 36px;
}
.recharge-card.special .available-days {
    margin-top: 36px;
}
.recharge-card.special .gigas {
    line-height: 4.4rem;
    margin-top: 31px;
    font-size: 43px;
}
.recharge-card.special .top-badge {
    font-size: 35px!important;
    position: absolute;
    top: -16px;
    text-align: center;
    width: calc(100% - 64px);
    font-weight: bold;
    color: yellow;
}
.recharge-card.special:before {
    content: '';
    display: block;
    position: absolute;
    top: -15px;
    left: -2px;
    border-top-right-radius: 18px;;
    border-top-left-radius: 18px;;
    /*margin-top: -60px;*/
    /*margin-left: -32px;*/
    /*margin-right: -40px;*/
    width: calc(100% + 4px);
    height: 46px;
    background-color: var(--ooredoo-red);
}

.dark .recharge-card {
    box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.77);
}

.recharge-card .ooredoo-calls .to-ooredoo {
    font-weight: normal;
    font-size: 1.1em;
    font-family: rubik, ooredoobold, Arial;;
}

.recharge-card .ooredoo-calls .call-count {
    font-size: 1.7em;
    font-weight: 800;
    padding: 0 4px;
    font-family: rubik-bold, ooredoobold, Arial;
    /*color: var(--ooredoo-red);*/
    /*font-family: NotoSans-Bold;*/
}

.recharge-card .internet {
    font-size: 3.1em;
    font-weight: 800;
    color: var(--ooredoo-red);
    z-index: 1;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    font-family: rubik-bold, ooredoobold, Arial;
}

.recharge-card .internet .gigas {
    flex: 1;
    color: #171717;
    letter-spacing: -2px;
}

.recharge-card .available-days {
    border-top: 1px dashed grey;
    padding-top: 8px;
    margin-top: 16px;
    margin-bottom: 8px;
    margin-inline-start: -30px;
    width: calc(100% + 60px);
}

/*====================================================================================================================*/
.text-red {
    color: var(--ooredoo-red) !important;
}

.recharge .md-recharge-film .favourit-film .anaflix-logo {
    position: absolute;
    top: 86px;
    left: 334px;
    height: 80px;
    z-index: -1;
}

.ar.recharge .md-recharge-film .favourit-film .anaflix-logo {
    position: absolute;
    top: 40px;
    left: 40px;
    right: auto;
    height: 80px;
    z-index: -1;
}

@media (max-width: 767px) {
    .recharge .md-recharge-film .favourit-film p {
        line-height: 3.4rem !important;
        font-size: 4rem !important;
    }
}

.recharge .md-recharge-film .favourit-film p {
    line-height: 5.4rem;
    font-size: 6rem;
    text-transform: uppercase;
    font-family: rubik-bold, Arial;
    font-weight: bold;
    padding-bottom: 40px;
}

.ar.recharge .md-recharge-film .favourit-film p {
    font-family: ooredoobold, Arial;
}

.recharge .md-recharge-film .download-anaflix p {
    margin: 0;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0 16px;
}

.recharge .md-recharge-film .download-anaflix .download-playstore img {
    height: 50px;
}

.recharge .md-recharge-film .download-anaflix .download-playstore {
    padding: 4px;
}

.recharge .md-recharge-film .download-anaflix {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
    max-width: 440px;
}

.recharge .md-recharge-film .favourit-film {
    padding-top: 60px;
    width: 100%;
    position: relative;
    isolation: isolate;
    padding-bottom: 40px;
}

.recharge .md-recharge-film {
    color: #171717;
}

.recharge.dark .md-recharge-film {
    color: #cdcdcd;
}

.recharge .md-recharge-film .section-content {
    background: #f8f8f8;
    padding-top: 60px;
    padding-bottom: 60px;
}

.recharge.dark .md-recharge-film .section-content {
    background: #141414
}

.alaflix-small-duration b {
    font-weight: 800;
    font-family: NotoSans-Black, Arial;
}

.border-0 {
    border: unset !important;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 1300px) {
    /*.container {*/
    /*    width: 1270px;*/
    /*}*/
}

/*====================================================================================================================*/
/*Main banner*/
.main-banner {
position: relative;
}
.main-banner >a {
    position: absolute;;
    bottom: 3vw;
    text-align: center;
    width: 45%;
    min-height: 4vw;
    font-size: 1.8vw!important;
    /*left: 0;*/
    right: 3vw;
}
.ar .main-banner >a {
    right: auto;
    left: 3vw;
}
@media (max-width: 991px) {
    .main-banner >a {
        position: absolute;;
        bottom: 9vw;
        text-align: center;
        width: 80%;
        min-height: 8vw;
        font-size: 4vw!important;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .ar .main-banner >a {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}
/*====================================================================================================================*/
/* QATAR BANNER */

.default-title {
    font-family: outfit-bold, Arial, sans-serif;
}


.default-title h2 {
    flex: 1;
    font-size: 635%;
    margin-top: 10px;
}

.ar .default-title h2 {
    font-size: 635%;
    margin-top: 10px;
}

.default-title h4 {
    font-size: 245%;
}

.ar .default-title h4 {
    font-size: 245%;
}

.default-header img {
    width: 80%;
    max-width: 900px;
}

.default-description {
    padding-top: 40px;
    padding-left: 14px;
    padding-right: 18px;
    max-width: 86%;
    font-family: outfit, Arial, sans-serif;
    /*padding: 64px 34px 16px;*/
    font-size: 1.6em;
    text-align: justify;

}

.default-participate-section {
    margin-top: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: outfit, Arial;
}

.default-participate-section .conditions {
    color: var(--ooredoo-red);
    text-decoration: underline;
    font-size: 1.2em;
    font-weight: bold;
}

.default-participate-section .default-participate {
    background-color: var(--ooredoo-red);
    padding: 8px 24px;
    color: white;
    font-size: 1.2em;
    font-weight: 800;
    border-radius: 1.5em;
    transform: scale(1.6);
}


@media (max-width: 1000px) {
    .default-banner {
        padding: 34px 5px;
        flex-direction: column-reverse;
    }

    .default-banner .offer-description {
        margin-top: 20px;
        padding: 0 10%;
    }

    .default-banner .offer-image img, .ar .default-banner .offer-image img {
        margin-top: 0;
        transform: scale(1.5);
        transform-origin: bottom;
    }

    .default-header img {
        width: 40%
    }

    .default-title h2 {
        font-size: 550%;
        margin-top: 10px;
    }

    .ar .default-title h2 {
        font-size: 550%;
        margin-top: 10px;
    }

    .default-title h4 {
        font-size: 220%;
    }

    .ar .default-title h4 {
        font-size: 220%;
    }


    .default-description {
        max-width: 100%;
        padding: 35px 20px 16px;
        font-size: 1.1em;
    }

    .default-participate-section {
        margin-top: 5px;
        transform: scale(0.8);
    }

    .default-participate-section .default-participate {
        transform: scale(1);
    }
}

@media (max-width: 600px) {
    .default-banner {
        padding: 34px 5px;
        /*background-position: bottom -20%;*/
        background-size: auto 100%;

    }

    .default-title h2 {
        font-size: 12vw;
        margin-top: 10px;
    }

    .ar .default-title h2 {
        font-size: 12vw;
        margin-top: 10px;
    }

    .default-title h4 {
        font-size: 4.6vw;
    }

    .ar .default-title h4 {
        font-size: 4.6vw;
    }

    .default-participate-section .default-participate {
        transform: scale(1.2);
    }
}

/*====================================================================================================================*/
/* QATAR FORM */
.disable-link {
    pointer-events: none;
    background-color: rgba(128, 128, 128, 0.5) !important;
    color: rgba(128, 128, 128) !important;
}

.submit-btn {
    color: white;
    padding: 8px 24px;
    background-color: var(--ooredoo-red) !important;
    /*font-weight: ;*/
    font-size: 1.05em;
    border-radius: 0.8em;
    border: unset;
    outline: unset;
    font-family: outfit, ooredoobold, Arial;
}

.cancel-btn {
    font-family: outfit, ooredoobold, Arial;
    color: #262626;
    padding: 8px 24px;
    background-color: #dedede;
    /*font-weight: ;*/
    border: unset;
    outline: unset;

    font-size: 1.05em;
    border-radius: 0.8em;
    border: unset;
    outline: unset;
}

.default-form-section {
    background: unset;

    display: flex;
    align-items: center;
    justify-content: center;
}

.text-underline {
    text-decoration: underline;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.default-form h3 {
    font-family: rubik-bold, ooredoobold, Arial;
}

input, select {
    font-family: rubik, ooredoobold, Arial;
}

.default-form {
    font-family: rubik, Arial;
    box-shadow: 0px 0px 60px -24px rgba(0, 0, 0, 0.75);
    background: white;
    color: black;
    padding: 40px;
    border-radius: 2em;
    width: 100%;
    max-width: 600px;
    position: relative;
    isolation: isolate;

}

.dark.recharge .default-form {
    background: #171717;
    color: white;
}

.dark.recharge .default-form select option {
    background: #171717;
}

.dark.recharge .default-form input, .dark.recharge .default-form select {
    background: rgba(128, 128, 128, 0.1);
    color: white;
}

.formbuilder-text-label, .formbuilder-select-label {
    width: 100%;
    text-align: start;
}

.formbuilder-required {
    padding-inline-start: 4px;
    color: var(--ooredoo-red);
}

.question p {
    text-align: start;
    border: 1px solid #ccc;
    padding: 4px 8px;
    border-radius: 4px;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*======================================*/
.custom-modal {
    z-index: 150;
    position: fixed;
    left: 0;
    top: 0px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.red-btn {

    color: white;
    padding: 8px 24px;
    background-color: var(--ooredoo-red) !important;
    /*font-weight: ;*/
    font-size: 1.05em;
    border-radius: 0.8em;
    border: unset;
    outline: unset;
    font-family: rubik, ooredoobold, Arial;
    &:disabled{
        background-color: orange!important;
        filter: saturate(0);
    }
}

.red-btn:hover {
    color: white;
}

.custom-modal-popup p {
    font-size: 1.2em;
    margin-top: 40px;
}

.custom-modal-popup h2{
    /*background-color: var(--ooredoo-red);*/
    /*color: white!important;*/
    position: absolute;
    top: -12px;
    padding: 8px 16px;
    border-radius: 0 0 16px 16px;
}
.custom-modal-popup {
    overflow: hidden;
    font-family: rubik, ooredoobold, Arial;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 34px;
    min-height: 160px;
    max-width: 600px;
    background-color: white;
    border-radius: 14px;
    /*border: 2px solid var(--ooredoo-red);*/
}
.dark .custom-modal-popup {
    background-color: #121212;
    color: #cdcdcd;
}
.modal-hidden {
    display: none;
}

/*boost section ======================================================================================================*/
.ooredoo-birthday{
    height: 0;
    background-color: var(--ooredoo-red);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    position: relative;
    /*margin: 10vw 0;*/
    top: -2.8vw;
    margin-top: 10vw;
    isolation: isolate;
}
.ooredoo-birthday:after{
    content: "";
    width: 100vw;
    height: 5vw;
    top: -2.5vw;
    left: 0;
    position: absolute;
    background-color: var(--ooredoo-red);
    z-index: -1;
}
.ooredoo-birthday>img{
    height: 20vw;
    object-fit: contain;
}
@media (min-width: 1400px) {
    .ooredoo-birthday>img{
        max-height: 250px;
    }
}
@media (max-width: 600px) {
    .ooredoo-birthday>img{
        height: 40vw;
    }
    .ooredoo-birthday:after{
        height: 10vw;
        top: -5vw;
    }
}
.default-promo {
    position: relative;
    isolation: isolate;
    overflow: hidden;
    margin-top: 0;
    padding: 20px 0;
    background-color: white;
}

.dark .default-promo {
    background-color: #121212;
}
#main-content , #page {
    background-color: white!important;
    color: black;
}
.dark #main-content , .dark #page{
    background-color: #121212!important;
    color: white;
}
.default-promo .default-flower {
    position: absolute;
    top: 0;
    right: 0;
    max-height: 45%;
    z-index: -1;
}

.sahla-box-cards {
    max-width: 885px;
    position: relative;
    isolation: isolate;
    background-color: white;
    border: 2px solid var(--ooredoo-red);
    border-radius: 2rem;
    padding: 2rem;
}

.sahla-box-cards .image-boost h2{
    color: black;
    font-size: 455%;
    font-family: outfit-bold, ooredoobold, Arial, sans-serif !important;

}

.dark .sahla-box-cards {
    background-color:  #121212;
}
.dark .sahla-box-cards .image-boost h2{
    color: #cdcdcd;
}

.dark .default-promo-header {
    color: #cdcdcd;
}


.default-promo-header h2 {
    color: black;
    font-size: 3.5vw;
    font-family: outfit-bold, ooredoobold, Arial, sans-serif !important;
}

.dark .default-promo-header h2 {
    color: inherit;
}

.default-forfait-carousel > .container {
    max-width: 1042px;
}

.default-forfait-carousel {
    /*margin-top: 80px;*/
    margin-bottom: 80px;
}

.social-footer {
    background-color: #f8f8f8;
    padding-bottom: 4em;
    display: flex;
    flex-direction: column;
}

.dark .social-footer {
    background-color: #101010;
}

.social-links {
    max-width: 500px;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
}

.social-links a {
    height: 40px;
    width: 40px;
}

.social-links a img {
    height: 100%;
}

.custom-modal-popup .close {
    opacity: 1;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
}


.ar .custom-modal-popup .close {
    right: auto;
    top: 10px;
    left: 10px;
}

.image-boost img {
    width: 80%;
}

.bg-shape {
    position: absolute;
    margin: auto auto;
    transform: translateY(-20%) scale(1.6) rotate(-21deg);
    inset: 0 0;
}
@media (max-width: 1199px) {
    .default-forfait-carousel {
        margin-bottom: 200px;
    }

    .sahla-box-cards {
        margin-bottom: 0px;
        width: calc(100% - 2rem);
    }

    .image-boost p {
        text-align: center
    }

    .image-boost img {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }

    .sahla-box-cards {
        margin-left: auto;
    }
}


@media (max-width: 1000px) {
    .default-promo .default-flower {
        max-width: 70%;
    }

    .default-promo-header h2,.sahla-box-cards .image-boost h2 {
        font-size: 235%;
        text-align: center;
    }


}

@media (max-width: 600px) {
    .default-forfait-carousel {
        margin-bottom: 80px;
    }

    .bg-shape {
        top: -40%
    }
}

@media (max-width: 400px) {
    .boost-cards {
        /*flex-direction: column;*/
    }
    .recharge-card.special .gigas {
        font-size: 36px;
    }
}

@media (max-width: 360px) {
    .boost-card {
        min-width: 160px !important;
        padding: 15px !important;
    }

    .recharge-card .center a {
        font-size: 16px !important;
    }

    .recharge-card .h3 {
        font-size: 20px !important;
    }

    .gigas {
        font-size: 34px !important;
        /*margin-left: -30px;*/
        /*margin-right: -30px;*/
        /*padding-left: 15px;*/
    }
}
.sticky-accept{
    height: 100px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #9fe2e1;
    position: sticky;
    bottom: 0;
    gap: 16px;
}
.sticky-accept input{
    border-radius: 40px;
}