@font-face {
    font-family: outfit;
    src: url(../fonts/outfit.ttf);
}

@font-face {
    font-family: outfit-bold;
    src: url(../fonts/outfit.ttf);
    font-weight: 800;
}

@font-face {
    font-family: rubik;
    src: url(../fonts/rubik.ttf);
    font-weight: 200;
}

@font-face {
    font-family: rubik-regular;
    src: url(../fonts/rubik.ttf);
    font-weight: 500;
}

@font-face {
    font-family: rubik-bold;
    src: url(../fonts/rubik.ttf);
    font-weight: 800;
}

#page, body, html {
    font-family: rubik, ooredooregular, Arial;
}

:root, :before, :after {
    --ooredoo-red: #ed1c24;
    --kaspersky-green: #25a992;
}

.md-my-account .section-content .my-account-container .my-account-holder .holder-content .holder-content-inner .credit .price .price-hero .price-unit,
.md-my-account .section-content .my-account-container .my-account-holder .holder-content .holder-content-inner .credit .price .price-hero .currency,
.md-my-account .section-content .my-account-container .my-account-holder .holder-content .holder-content-inner .credit-info a {
    font-weight: 700;
    font-family: rubik, ooredooregular, Arial;
}

.choof-logo {
    height: 48px;
}

.pl-2 {
    padding-left: 8px;
}

.pr-2 {
    padding-right: 8px;
}

/*@media (min-width: 1200px) {*/
/*    .container-special {*/
/*        width: 930px;*/
/*    }*/
/*}*/
.recharge-offer-card {
    flex: 1;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
    color: #171717;
    position: relative;
    isolation: isolate;
    min-height: 218px;
    min-width: 218px;
}

.text-bold {
    font-weight: bold;
}

.text-grey {
    color: rgba(128, 128, 128);
}

.text-red {
    color: var(--ooredoo-red) !important;
}

.text-ar {
    font-family: ooredoobold, Arial !important;
}

.text-rtl {
    font-family: ooredoobold, Arial !important;
    direction: rtl;
}

.text-ltr {
    direction: rtl;
}

.text-transparent {
    color: transparent !important;
    margin-left: -1em;
}

.text-fr-bold {
    font-family: rubik-bold, ooredoobold, Arial, sans-serif !important;
}

.text-fr {
    font-family: rubik, ooredoobold, Arial;, sans-serif !important;
}

.recharge-offer-card.blue {
    background: #3cdbbf;
}

.recharge-offer-card.yellow {
    background: #ffd101;
}

.recharge-offer-card.white {
    background: #ffffff;
}

.dark.recharge .recharge-offer-card.white {
    background: #101010;
    border: 1px solid rgba(255, 255, 255, 0.12);
    color: white;
}

/*===KASPERSKY========================================================================================================*/
.kaspersky-card {
    min-height: 300px;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    /*box-shadow: 0 3px 5px rgb(0 0 0 / 35%);*/
    box-shadow: 0 12px 40px rgb(0 0 0 / 15%);
}

.kaspersky-card .card-img img {
    height: 100%
}

.kaspersky-card .card-img {
    width: 45%;
    max-height: 270px;
    margin-top: -15px;
    margin-inline-start: -15px;
}

.kaspersky-card .card-content {
    padding-inline-start: 8px;
    flex: 1;
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
}

.kaspersky-card .card-content .card-article p:last-child {
    margin-bottom: 0;
}

.kaspersky-card .card-content .card-article {
    font-size: 1em;
    flex: 1;
    font-weight: 700;
    font-family: rubik, ooredoobold, Arial;
}

.kaspersky-card .card-content .title {
    text-transform: uppercase;
    padding: 0;
    font-size: 1.2em;
    margin-bottom: 1em;
    font-family: rubik-bold, ooredoobold, Arial;
}

.kaspersky-card .ooredoo-starting-from {
    padding-bottom: 1em;
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
    justify-content: center;
}

.kaspersky-card .ooredoo-starting-from .starting {
    font-weight: normal;
    font-size: 1.4em;
    font-weight: 800;
    font-family: rubik, ooredoobold, Arial;
    margin-bottom: 0.4em;
}

.kaspersky-card .ooredoo-starting-from .price {
    font-size: 3em;
    font-weight: 800;
    padding: 0 4px;
    padding-inline-start: 8px;
    font-family: outfit-bold, ooredoobold, Arial;
}

.kaspersky-card .ooredoo-starting-from .price .currency {
    font-size: 0.65em;
    font-weight: 800;
    margin-left: -0.5rem;
    font-family: outfit-bold, ooredoobold, Arial;
}

.kaspersky-card .card-action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.kaspersky-card .card-action a:hover {
    filter: brightness(1.2);
}

.kaspersky-card .card-action a {
    height: 100%;
    transition: transform 300ms ease;
    transition-property: filter;
    color: white;
    padding: 4px 24px;
    background-color: var(--ooredoo-red) !important;
    /*font-weight: ;*/
    font-size: 1.3em;
    /*font-weight: 700;*/
    border-radius: 2em;
    letter-spacing: 0.05em;
    border: 2px solid white;
    outline: 2px solid var(--ooredoo-red);
    font-family: rubik-bold, ooredoobold, Arial;
}

.dark.recharge .kaspersky-card .card-action a {
    color: #101010;
    border: 2px solid #101010;
}

/*========================*/
.recharge .md-recharge-film .favourit-film .anaflix-logo {
    position: absolute;
    top: 86px;
    left: 334px;
    height: 80px;
    z-index: -1;
}

.ar.recharge .md-recharge-film .favourit-film .anaflix-logo {
    position: absolute;
    top: 40px;
    left: 40px;
    right: auto;
    height: 80px;
    z-index: -1;
}

@media (max-width: 767px) {
    .recharge .md-recharge-film .favourit-film p {
        line-height: 3.4rem !important;
        font-size: 4rem !important;
    }
}

.recharge .md-recharge-film .favourit-film p {
    line-height: 5.4rem;
    font-size: 6rem;
    text-transform: uppercase;
    font-family: rubik-bold, Arial;
    font-weight: bold;
    padding-bottom: 40px;
}

.ar.recharge .md-recharge-film .favourit-film p {
    font-family: ooredoobold, Arial;
}

.recharge .md-recharge-film .download-anaflix p {
    margin: 0;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0 16px;
}

.recharge .md-recharge-film .download-anaflix .download-playstore img {
    height: 50px;
}

.recharge .md-recharge-film .download-anaflix .download-playstore {
    padding: 4px;
}

.recharge .md-recharge-film .download-anaflix {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
    max-width: 440px;
}

.recharge .md-recharge-film .favourit-film {
    padding-top: 60px;
    width: 100%;
    position: relative;
    isolation: isolate;
    padding-bottom: 40px;
}

.recharge .md-recharge-film {
    color: #171717;
}

.recharge.dark .md-recharge-film {
    color: #cdcdcd;
}

.recharge .md-recharge-film .section-content {
    background: #f8f8f8;
    padding-top: 60px;
    padding-bottom: 60px;
}

.recharge.dark .md-recharge-film .section-content {
    background: #141414
}

.alaflix-small-duration b {
    font-weight: 800;
    font-family: NotoSans-Black, Arial;
}

.border-0 {
    border: unset !important;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 1300px) {
    /*.container {*/
    /*    width: 1270px;*/
    /*}*/
}

/*====================================================================================================================*/
/* Kaspersky form */
.kaspersky-form-section {
    min-height: calc(100vh - 169px);
    padding: 34px;
    /*min-height: calc(100vh - 116px);*/
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /*flex-direction: column;*/
    /*margin-bottom: 84px;*/
}



@media (max-width: 1000px) {
    .kaspersky-form-section {
        padding: 34px 5px;
    }
}

/*====================================================================================================================*/
/* KSPERSKY FORM */
.disable-link {
    pointer-events: none;
    background-color: rgba(128, 128, 128, 0.5) !important;
    color: rgba(128, 128, 128) !important;
}

.submit-btn {
    color: white;
    padding: 4px 24px;
    background-color: var(--ooredoo-red) !important;
    font-size: 1.3em;
    border-radius: 2em;
    letter-spacing: 0.05em;
    border: unset;
    outline: unset;
    font-family: outfit, ooredoobold, Arial;
}

.cancel-btn {
    color: #262626;
    background-color: #dedede;
    padding: 4px 24px;
    font-size: 1.3em;
    border-radius: 2em;
    letter-spacing: 0.05em;
    font-family: outfit, ooredoobold, Arial;
    border: unset;
    outline: unset;
}

.checkbox-group {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkbox-group label {
    padding-inline-start: 16px;
}

.text-underline {
    text-decoration: underline;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.kaspersky-form h3 {
    font-size: 2.5em;
    font-family: outfit-bold, ooredoobold, Arial;
}

input, select {
    font-family: rubik, ooredoobold, Arial;
}

.kaspersky-form {
    /*flex: 1;*/
    font-family: rubik, Arial;
    color: black;
    padding: 40px;
    border-radius: 2em;
    /*width: 100%;*/
    max-width: 1000px;
    position: relative;
    isolation: isolate;

}
.kaspersky-form-image {
    padding: 40px;
    flex: 1;
    max-width: 354px;
    padding-inline-end: 0;
    padding-top: 11em;
}
.kaspersky-form-image img{
    width: 100%;
}
.kaspersky-form .choice {
    box-shadow: 0 12px 40px rgb(0 0 0 / 5%);
    text-align: start;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: white;
    color: black;
    padding: 16px;
    border-radius: 4px;
    margin: 24px 0;
    font-family: rubik-regular, ooredoobold, Arial;
    font-weight: 800 !important;
}

.kaspersky-form .choice .title {
    color: var(--kaspersky-green);
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 1em;
}

.kaspersky-form .choice .title h4 {
    font-size: 2.2em;
    padding: 8px;
}

.kaspersky-form .choice .title:before {
    content: "0";
    margin-inline-start: -1em;
    height: 50px;
    width: 1em;
    background-color: var(--kaspersky-green);
}
.kaspersky-form .choice .title .number {
    padding-inline-start: 20px;
    margin-inline-end: 1em;
    background-color: rgba(0,0,0,0.04);
}


.dark.recharge .kaspersky-form .choice .title .number {
    background-color: rgba(255,255,255,0.04);
}
.dark.recharge .kaspersky-form {
    color: #cdcdcd;
}

.dark.recharge .kaspersky-form .choice {
    background: #171717;
    color: #cdcdcd;
    border: 1px solid rgba(255, 255, 255, 0.12);
}

.dark.recharge .kaspersky-form select option {
    background: #171717;
}

.dark.recharge .kaspersky-form input, .dark.recharge .kaspersky-form select {
    background: rgba(128, 128, 128, 0.1);
    color: white;
}

.formbuilder-text-label, .formbuilder-select-label {
    width: 100%;
    text-align: start;
}

/*======================================*/
.custom-modal {
    z-index: 150;
    position: fixed;
    left: 0;
    top: 0px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.red-btn {
    color: white;
    padding: 4px 24px;
    background-color: var(--ooredoo-red) !important;
    font-size: 1.3em;
    border-radius: 2em;
    letter-spacing: 0.05em;
    font-family: outfit, ooredoobold, Arial;
    border: unset;
    outline: unset;
}

.red-btn:hover {
    color: white;
}

.custom-modal-popup p {
    font-size: 1.2em;
}

.custom-modal-popup {
    font-family: rubik, ooredoobold, Arial;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 34px;
    min-height: 160px;
    max-width: 400px;
    background-color: white;
    border-radius: 14px;
}

.modal-hidden {
    display: none;
}
