@font-face {
    font-family: 'robotoblackitalic';
    src: url('../fonts/Roboto/roboto-blackitalic-webfont.eot');
    src: url('../fonts/Roboto/roboto-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/roboto-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/roboto-blackitalic-webfont.woff') format('woff'),
         url('../fonts/Roboto/roboto-blackitalic-webfont.ttf') format('truetype'),
         url('../fonts/Roboto/roboto-blackitalic-webfont.svg#robotoblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon/icomoon.eot?hzzoss');
    src:    url('../fonts/icomoon/icomoon.eot?hzzoss#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?hzzoss') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?hzzoss') format('woff'),
    url('../fonts/icomoon/icomoon.svg?hzzoss#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*@font-face {*/
    /*font-family: 'IcoMoon-Free';*/
    /*src: url('../fonts/icomoon/IcoMoon-Free.ttf') format('truetype');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/