//my-accounte
@import nib;

@import 'sections/colors.styl';


sectionTitle($bgColor = #fff , $color = #000, $h1f = 29px, $pf = 19px)
	background $bgColor
	padding 10px 0
	.title
		h1
			color: $color
			font-family $ob
			text-transform uppercase
			font-size $h1f
			margin 0
	.description
		p
			color: $color !important;
			font-family $ob
			font-size $pf
			margin 0
			text-align: right

@media (max-width: 360px)

	.safari_only
		color: #fff;
		text-shadow: none;




