/**
 * Mdsoft INT
 *
 * @category    Front end
 * @package     Global STYLUS
 * @copyright   Copyright (c) 2016 MDWEB. (http://www.mdweb-int.com)
 * @author      BESSROUR Ahmed (ahmed.bessrour@gmail.com)
 */

@import nib;

/*==== Reset=================*/ 
@import 'sections/reset.styl'
@import 'sections/colors.styl'
@import 'sections/fonts.styl'
@import 'sections/section-title.styl'
/*===========================*/

/*==== Header=================*/ 
@import 'sections/header.styl'
/*===========================*/

/*==== my-account=============*/ 
@import 'sections/my-account.styl'
/*===========================*/

/*==== forfait-night=============*/ 
@import 'sections/forfait-night.styl'
/*===========================*/

/*==== forfait-internet=============*/ 
@import 'sections/forfait-internet.styl'
/*===========================*/

/*==== forfait-appel=============*/ 
@import 'sections/forfait-appel.styl'
/*===========================*/


/*==== Recharge=============*/ 
@import 'sections/recharge.styl'
/*===========================*/


/*==== Footer=============*/ 
@import 'sections/footer.styl'
/*===========================*/

