//colors
$bg_color1 = #e30919;


$black = #000;
$white = #fff;
$red = #e61e25;
$darkgray = #505050;
$greyborder = #bfbfbf;
$lightblue = #4654ff;
$lightgrey = #9e9e9e;


// bars colors

$greenbar = #52cc83;
$orangebar = #f17e21;
$redbar = #f22c27;